<div class="row row-cols-1 row-cols-md-3 g-4">
        <% news.forEach(not => { %>
     <div class="col">
            <div class="card h-100">
            <a href="/news/detail/<%= not.id %> " style="text-decoration: none;">
                <img src="/img/news/<%= not.image %> " class="card-img-top">
                <div class="card-body ">
                    <h4 class="card-title"> <%= not.title %> </h4>
                    <p class="card-title"> <%= not.date %> </p>
                    <p class="card-text"><%= not.content %></p>
                </div>
            </a>
            </div>
        </div>
        <% }) %>
</div>


