<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

<body class="bodyIndex">

    <%- include ('partials/header') %>
    <%- include ("partials/contactButton") %> 

    <main id="fullPage">
        <div class="section parteUnoHome">
            <h1 class="nombreDelMuseo">Museo Paleontológico de San Pedro</h1>
            <hr class="solid">
            <h2 class="subtituloHome">...un viaje imaginario a un pasado fascinante</h2>
            <div class="standardButton">
                <a class="navigation" href="/#news"><i class="fa-solid fa-arrow-down"></i>Novedades</a>
            </div>
        </div>
        
        <div class="section containerRoute" id="news">
            <%- include('partials/carrusel') %>
        </div>

        <div class="section containerRoute">
            <%- include("partials/cards") %>
        </div>

        <div class="section containerRoute" id="whoWeAre">
            <div class="signTxtImg">
                <h2>Nuestra Historia</h2>
                <p>
                    <img src="/img/Glyptodon munizi(armadillo gigante recuperado en San Pedro).jpg" alt="" class="imgHistory">
                    El Museo Paleontológico “Fray Manuel de Torres” fue fundado el 13 de Abril de 2003 por el Grupo
                    Conservacionista de Fósiles, equipo dedicado a la búsqueda, preservación y difusión del patrimonio
                    fósil
                    del subsuelo de San Pedro.
                    <br>
                    Esta casa resguarda los restos de la fauna que habitó la región durante los últimos dos millones de
                    años.
                    <br>
                    Su colección, que posee ejemplares de más de 60 especies diferentes de mamíferos, reptiles, aves y
                    peces.
                    <br>
                    Uno de los dos únicos ejemplares completos hallados en el país de un feroz carnívoro llamado
                    Theriodictis platensis, una forma fósil emparentada con los cánidos actuales.
                    <img src="/img/20220626_171005.jpg" alt="" class="imgHistory historyLeft">
                    El cráneo totalmente preservado de un oso prehistórico gigante. Restos de una playa marina de hace
                    5.000
                    años. El ciervo fósil más completo de Argentina. Partes de un cóndor prehistórico desconocido y
                    tantos
                    otros hallazgos de relevancia paleontológica.
                    <br>
                    El equipo del museo ha contribuido, además, en diferentes temáticas vinculadas con la historia local
                    y
                    nacional a través del hallazgo de documentos y objetos. También ha relevado diferentes naufragios
                    existentes en nuestra zona. Uno de sus mayores logros fue haber descubierto al “Republicano”, buque
                    que
                    defendió las cadenas en la batalla de Obligado, hasta quedarse sin municiones y ser hundido por su
                    capitán.
                </p>
            </div>
        </div>

        <div class="section containerRoute">
            <h3 class="sponsors">Sponsors</h3>
            <%- include("partials/sponsorsCarousel", { sponsors: listaSponsors}) %>
        </div>

        <div class="section containerRoute">
            <%- include("partials/footer") %>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.9/fullpage.js"
        integrity="sha512-Ql+BI+ZJBJ9b8dZ5FKuyCz42y0ZcG05muq5tHIfb0Qxe0TlEtGkYXV8Df7h6HbJolt6Rhz6gRMBLypwX6slbzw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/fullPage.js"></script>
    <script src="/js/carousel.js"></script>
    <script src="/js/newsModal.js"></script>
    <script src="/js/sponsorsCarousel.js"></script>
</body>

</html>