<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>

<body class="bodyIndex">

    <%- include ('partials/header') %>
    <%- include ("partials/contactButton") %> 

    <main>
       <h1 class="news-title">SECCION DE NOTICIAS</h1>
        <%- include ("partials/cards") %> 
    </main>
    
    <div class="section containerRoute">
        <%- include("partials/footer") %>
    </div>

    
</body>

</html>